:root {
    --light-blue: #90E0EF;
    --medium-blue: #0077B6;
    --dark-blue: #03045E;
    --bg-forecast: #023e8a;
    --bg-local-city: #d3d3d3;
}

html {
    font-size: 16px;
}

h2 {
    font-size: 2rem;
}

h3,
label {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.4rem;
}

/* ------------------header area------------------ */
header {
    height: 60px;
    background-image: linear-gradient(to right, var(--light-blue), var(--dark-blue));
}

header h2 {

    font-weight: bold;
}


/* ------------------user input area------------------ */
.search-btn {
    background-color: var(--medium-blue);
}

.search-btn:hover {
    cursor: pointer;
}

.search-btn:active {
    transform: scale(1.03);
}

.solid {
    border: 1px solid lightgray;
}
/* ------------------local storage area------------------ */
ul{
    list-style: none;
}

.city-item{
    font-size: 1.2rem;
    background-color: var(--bg-local-city);
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

/* ------------------current weather container------------------ */
#uv {
    padding: 0 10px;
}

/* ------------------forecast container------------------ */

.bg-custom {
    background-color: var(--bg-forecast);
}

